In [1]:
import os, datetime

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

In [6]:
data = pd.read_csv('datasets/life_expectancy.csv')

data

          Country  Year  ... Income composition of resources  Schooling
0     Afghanistan  2015  ...                           0.479       10.1
1     Afghanistan  2014  ...                           0.476       10.0
2     Afghanistan  2013  ...                           0.470        9.9
3     Afghanistan  2012  ...                           0.463        9.8
4     Afghanistan  2011  ...                           0.454        9.5
...           ...   ...  ...                             ...        ...
2933     Zimbabwe  2004  ...                           0.407        9.2
2934     Zimbabwe  2003  ...                           0.418        9.5
2935     Zimbabwe  2002  ...                           0.427       10.0
2936     Zimbabwe  2001  ...                           0.427        9.8
2937     Zimbabwe  2000  ...                           0.434        9.8

[2938 rows x 22 columns]

In [7]:
data.sample(5)

           Country  Year  ... Income composition of resources  Schooling
1562    Madagascar  2007  ...                           0.483        9.1
1500       Liberia  2005  ...                           0.372       10.1
414   Burkina Faso  2001  ...                           0.000        3.5
2584      Thailand  2000  ...                           0.640       10.9
1417    Kyrgyzstan  2008  ...                           0.624       12.6

[5 rows x 22 columns]